/* enterance animation */
@keyframes backInLeft {
    0% {
      transform: translateX(-2000px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      transform: translateX(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .backInLeft {
    animation-name: backInLeft;
  }
  @keyframes backInRight {
    0% {
      transform: translateX(2000px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      transform: translateX(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .backInRight {
    animation-name: backInRight;
  }
  /* zoom entrance */
  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }
  /* exist */
  @keyframes fadeOutLeft {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  .fadeOutLeft {
    animation-name: fadeOutLeft;
  }
  @keyframes fadeOutRight {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  }
  
  .fadeOutRight {
    animation-name: fadeOutRight;
  }
  /* zoom out exist */
  @keyframes zoomOut {
    from {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    to {
      opacity: 0;
    }
  }
  
  .zoomOut {
    animation-name: zoomOut;
  }